
.layout {
  grid-gap: 12px;
}

.app-header {
  color: white;
  text-align: center;
  background-color: #0000FF;
  padding: 10px;
}

.app-nav {
  background-color: #00AAFF;
  text-align: center;
  padding: 10px 0;

  ul {
    list-style-type: none;
    li {
      color: white;
      a {
        color: white;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        margin-bottom: 15px;
      }
    }
  }

}

.app-content {
  background-color: #A5A6AB;
  padding: 10px;
  text-align: center;
}

.app-aside {
  margin-right: 0.6rem;
  background-color: #00AAFF;
  text-align: center;
  padding: 10px;
}

.app-footer {
  background-color:#0000FF;
  color: white;
  text-align: center;
  padding: 10px 0;
}

